body{
    font-family: 'PT Serif', serif;
    font-size: 18px;
}

/*Header Starts*/

#header-nav{
    background-color: cyan;
    border: 0;
    border-radius: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fce29e;
}

.nav{
    margin: 0;
    padding: 0;
}

.navbar-collapse{
    float: right;
}

.navbar-brand h1{
    margin: 0;
    line-height: .8;
    color: black;
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

.navbar-header .navbar-nav li a{
    line-height: 12px;
    padding: 0;
    height: 12px;
}
    
#nav-list a{
    font-size: 15px;
    color: brown;
    font-weight: bolder;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}



/*Header Ends*/

/*Main-content starts*/

.container{
    box-sizing: border-box;
}

.text-center{
    font-size: 30px;
}

section h2{
    text-align: center;
}

section{
    background-color: violet;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
}

/*Main-content ends*/

/*****Media Queries*****/

@media (min-width:768px)
{
    .col-md-4{
        width: 33.33%;
    }
    .col-md-12{
        width: 100%;
    }
}

@media (min-width:576px) and (max-width:767px)
{
    .col-sm-4{
        width: 33.33%;
    }

    .col-sm-6{
        width: 50%;
    }

    .col-sm-12{
        width: 100%;
    }
}

@media (max-width:575px)
{
    .col-xs-4{
        width: 33.33%;
    }
    
    .col-xs-12{
        width: 100%;
    }
}

/*body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #1a1a1a;
    background-color: #599e4b;
}


/** HEADER **/

/*#header-nav {
    background-color: #c98715;
    border-radius: 0;
    border: 0;
}

#header-nav button {
    margin-top: 22px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fce29e;
}

.navbar-collapse {
    border-top: 0;
}

.navbar-brand, .navbar-nav li a {
    line-height: 76px;
    height: 76px;
    padding-top: 0;
}

.navbar-brand h1 {
    color: #7d1913;
    font-family: 'Abril Fatface', cursive;
    font-weight: bolder;
    font-size: 1.8em;
}

.navbar-brand a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 1px #fe9797;
}

#nav-list {
    background-color: #e4af34;
}

#nav-list a {
    /*text-align: center;*/
    /*font-weight: bolder;
    color: #282828;
    font-size: 1.2em;
}

#nav-list a:hover {
    color: #202020;
    background-color: #fce29e;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #7d1913;
}


/** END HEADER */


/** HOME PAGE **/

/*#main-content {
    width: 92%;
    margin-bottom: 30px;
}

#main-content h2 {
    font-size: 2.9em;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#main-content h3 {
    font-size: 1.6em;
    font-weight: bold;
    margin-bottom: 1em;
}

#chicken-tile, #beef-tile, #sushi-tile {
    width: 100%;
    padding: 20px;
    background-color: #99ed7b;
    margin-bottom: 60px;
    box-shadow: 0 0 80px #18580b;
}


/** END HOME PAGE **/